/* 
TOP BAR ===============
*/

.topBar div{
    display: inline-block;
    text-align: center;
    color: white;
}

.topBar ul li{
    float: left;
    margin-right: 30px;
    list-style: none;
    color : white;
}
.topBar a{
    color: white;
    text-decoration: none;
}
*{
    margin : 0px;
    padding:0px;
}

.topBar .searchInput{
    width: 50%;
    float: left;
    border:none;
    margin-right:10px;
    padding:5px 10px;
}
.topBar .logo span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topBar .logo{

    width : 20%;
    float: left;
    margin-top: -10px;;
}
.topBar .searchButton{
    float: left;
    border:none;
    padding:5px 10px;

}
.topBar .search{
    width: 40%;
    float :left;
}

.topBar .search .searchInput , .search .searchButton{
    float :left;
}
.topBar{
    width: 100%;
    color: white;
    background-color: #3b5998;
    height: 50px;
}
.topBar div{
    float: left;
    position : relative;
    top: 10px;

}
.topBar .logo img{
    width: 15px;
    height : 15px;
}
.topBar .utils {
    width : 30%;
    float: right;
    margin-top: 17px;
}
.topBar .utils ul li {
    
}
.topBar .search {
    margin-top: 10px;
}

.topBar .arr{
    width: 10px;
    height : 10px;
}


/* 
LEFT BAR ==============

*/

.leftbar{
    width: 20%;

    float: left;
}
.leftbar .profile{

    width 100%;
    padding: 20px;
}

.profile .img{
    width : 50%;


}
.leftbar .profile div{
    display: inline-block;
}
.profile .img img{
    width: 100%;
}
.profile .name{
    width : 46%;

    position : relative;
    position: relative;
    transform: translate(0% ,-90%);
}
.services img{
    width : 10px;
    height: 10px;
}
.services {
    padding : 20px;
}
.services ul {
    list-style-type: none;
}
.inse{
    padding: 20px;
}
.inse input{
    padding : 10px;
    border-radius: 15px;
 
}

.midbar{
    width : 79%;
    border-left: 2px solid black;
    float: left;
    display:inline-block;
}
.feed{
    width : 50%;

    display: inline-block;
    padding: 20px;
}
.event{
    width : 39%;
    display: inline-block;
    float: right;
    padding:20px;
}
.feed h2{
    float: left;
    width: 30%;
    display: inline-block;
}
.feed h4{
    float: right;
    display: inline-block;
    padding: 5px;;
}
.feed img{
    width : 10px;
    height: 10px;
}
.up{
    display: inline-block;
    width:100%;
    border-bottom: 2px solid black;
}
.actions{
    display: inline-block;
    width  : 100%;
}

.actions ul {
    width: 99%;
    margin-top: 20px;
}
.actions ul li {
    display: inline-block;
    float: left;
    margin-right: 10px;;
}

.actions input{
    width : 100%;
    margin: 20px 0px;
    padding : 4px;
}
.post {
    display: inline-block;
    width : 100%;
    border-bottom: 3px solid black;
    padding-bottom: 3px ;
    padding-top: 7px;
}
.post .image {
    display: inline-block;
    width : 30%;
    text-align: center;
    float: left;
}
.post .image img{
    width : 70px;
    height : 70px;

}
.text{
    width : 66%;
    float: left;
}
.yes , .no{
    padding : 10px;
    background-color: mediumturquoise;
    margin-top: 5px;
}


.titlevent{
    display: inline-block;
    background: grey;
    color : white;
    padding : 10px;
    width : 100%;
}
.e{
    display : inline;
    color : black;
}
.ri{
    display : inline;
    float : right;
    color : blue;
    text-decoration: underline;
    color : black;
}

.plan input{
    display: inline-block;
    padding : 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.friend{
    display: inline-block;
    width : 100%;
    border : 1px solid brown;
    margin-top: 20px;
}
.friend .image {
    display: inline-block;
    width : 30%;

    text-align: center;
    float: left;
}
.friend .image img{
    width : 100px;
    height : 100px;
}
.friend .desc ul{
   display: inline-block;
   float: left;
   margin-top: 20px;
   list-style-type : none;
}
.box img{
    width : 100%;
    height: 140px;
}
.chat{
    border: 1px solid black;
    width : 100%;
    bottom: 0px;
    padding: 5px;
    font-weight: 800;
}